/**
 * Flexsible Layout
 */
/* width is greater than 1024 */
@media screen and (min-width: 1024px) {
    .max-container {
        width: 980px;
    }
}

/* width is lesser than 1024 */
@media screen and (max-width: 1024px) {

}

/* width is less than 1024 and greater than 640 */
@media screen and (min-width: 640px) and (max-width: 1024px) {
    .max-container {
        width: 80%;
    }
}

/* width is greater than 800 */
@media screen and (min-width: 640px) {
    .is-pc {
        display: block;
    }

    .is-mobile {
        display: none;
    }
}

/* width is less than 800 */
@media screen and (max-width: 640px) {
    .max-container {
        width: 100%;
    }

    .is-pc {
        display: none;
    }

    .is-mobile {
        display: block;
    }
}

/**
 *
 */
.max-container {
    margin: 0 auto;
}

/**
 * Font
 */
div, p, span, a, h1, h2, h3, h4, h5 {
    font-family: "libre baskerville", helvetica-w01-light, helvetica-w02-light, sans-serif;
}

.motto-font {
    font-family: sacramento, cursive;
}

.main-title-font {
    font-family: belinda-w00-regular, script;
}

.sub-title-font {
    font-family: "libre baskerville", serif;
}

.danger-font-color {
    color: #F56C6C;
}

.success-font-color {
    color: #67C23A;
}

.warning-font-color {
    color: #E6A23C;
}

.info-font-color {
    color: #909399;
}

/**
 * Color
 */

.white-bg {
    background-color: white;
}

/**
 * Other
 */
 
a {
    text-decoration: none;
}